<%- layout("layouts/allpg.ejs") %>

<style>
    .marker {
    display: block;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 0;
    }
</style>

<script src='https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.css' rel='stylesheet' />

<div class="container">
<div id='map' style='width: 100%; height: 600px; margin-top: 75px; margin-bottom: 75px;'></div>
</div>


<script>

var details = JSON.parse('<%- details %>');
console.log(details[0].id)
mapboxgl.accessToken = 'pk.eyJ1Ijoia2FydGhpa2V5YW5iYWxhamkiLCJhIjoiY2t2dGd3YmVnM2NrajJudGt1eHdscWVqMyJ9.A0jCxbqQ2SvjO8TVEz2Hxg';
const map = new mapboxgl.Map({
    container: 'map', // container ID
    style: 'mapbox://styles/mapbox/streets-v12', // style URL
    center: [78.11881184577942, 9.91956309006707], // starting position [lng, lat]
    pitch: 0, // pitch in degrees
    bearing: -80,
    zoom: 13.5, // starting zoom
});

map.addControl(new mapboxgl.FullscreenControl());
map.addControl(new mapboxgl.NavigationControl());
map.addControl(new mapboxgl.ScaleControl());

map.on('load', function () {
 map.flyTo({
    zoom: 16.5,
    pitch: 50,
    bearing: 0,
    duration: 3000
    });
});
// const el = document.createElement('div');
// const width = 100;
// const height = 200;
// el.className = 'marker';
// el.style.backgroundImage = `url(https://placekitten.com/g/${200}/${200}/)`;
// el.style.width = '50px';
// el.style.height = '50px';
// el.style.backgroundSize = '100%';
// new mapboxgl.Marker(el)
// .setLngLat([78.11881184577942, 9.91956309006707])
// .addTo(map);




</script>